* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: crimson;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.calculadora {
    border: 2px solid black;
    box-shadow: 3px 3px 3px 0px black;
    max-width: 512px;
    border-radius: 10px;
    padding: 30px;
}

#inputPeso {
    display: grid;
}

#inputAltura {
    display: grid;
}

main {
    margin: auto;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    background-color: crimson;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    background-color: crimson;
    border-radius: 15px;
    border: 0px solid #000000;
    padding: 5px;
    border: 2px solid black;
}

label {
    color: white;
    background-color: crimson;
    width: 55px;
    text-align: center;
    border-radius: 10px;
    padding: 2px;
    border: 2px solid black;
}

input {
    border-radius: 5px;
    border: 2px solid black;
}

footer {
    bottom: 0;
    margin-top: 15%;
    position: relative;
    background-color: crimson;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#bob {
    display: none;
}

#aviso {
    display: none;
}


label {
    margin: 5px;
}

button:hover {
    color: black;
    background-color: white;
    border: 2px solid crimson;
    transition: 1s;
    animation: anima 1s forwards;
}

#tabelas {
    margin: auto;
    padding: 10px;
}

#parabens {
    display: none;
    margin: auto;
    max-width: 400px;
    padding: 3px;
    border-radius: 10px;
    background-color: crimson;
    color: white;
}

#tabelaBaixo {
    display: none;
    margin: auto;
    max-width: 512px;
}

#tabelaBaixoDentro {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    max-width: 512px;
}

#tabelaAlta {
    display: none;
    margin: auto;
    max-width: 512px;
}

#tabelaAltaDentro {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    max-width: 512px;
}


article {
    border: 1px solid black;
    text-align: center;
    padding:10px;
}

h3 {
    background-color: crimson;
    color: white;
    text-align: center;
}